
body{
    max-width:980px ;
    margin: 0 auto;
    background-image: url("../img/background.jpg");
}
.main-box{
    display: -webkit-flex;
    display: flex;
    background-color: #fcfff2;
    width: 100%;
    height: 2800px;
    flex-wrap: wrap;
}
#pro-nas-subtitle{
    font-family: "Comic Sans MS";
    font-weight: bold;
    font-size: 40px;
    color: #060606;
}
.about-as{
    display: -webkit-flex;
    display: flex;
    background-image: url("../img/cloud.png");
    width: 100%;
    height: 600px;
    border-radius: 10px;
    margin-left: 5%;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}
.text-about-us{
    width: 100%;
    border-radius: 10px;
    align-self: flex-start;
    font-family: "Comic Sans MS";
    font-weight: bold;
    color: #510d4f;
    font-size: 20px;
}
.img1{
    background-color: #74ffe9;
    width: 40%;
    height: 250px;
    border-radius: 10px;
}
.img2{
    background-color: #74ffe9;
    width: 40%;
    height: 250px;
    border-radius: 10px;
}
#children-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
#girl-with-book-img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.service{
    display: -webkit-flex;
    display: flex;
    background-color: #ffbb49;
    top: 0;
    width: 100%;
    height: 500px;
    border-radius: 10px;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
}
.text-service{
    background-color: #5bb8ff;
    width: 100%;
    height: 200px;
    border-radius: 10px;
    align-self: flex-start;
}
.news{
    display: -webkit-flex;
    display: flex;
    background-color: #eaff52;
    top: 0;
    width: 100%;
    height: 670px;
    border-radius: 10px;
    justify-content: center;
    align-items: flex-end;
    flex-wrap: wrap;
    min-width: 50%;
}
.flex-container{
    display: flex;
    max-width: 100%;
    max-height: 5000px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px auto;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
}
.item {
    padding: 5px 10px;
    border:5px solid #fdff33;
    background: #fffacd;
    border-radius: 3px;
    margin: 20px;
    width: 25%;
    height: 250px;
}
.image img{
    width: 100%;
    height: 150px;
}
.h3-news{
    color: #213aff;
    font-family:"Comic Sans MS";
    font-size: 23px;
    text-align: center;
}
.gallery{
    display: flex;
    background-color: #6507ff;
    width: 100%;
    height: 360px;
}
.contacts{
    display: flex;
    justify-content: center;
    background-color: #ffb6cf;
    width: 100%;
    height: 450px;
}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-family: "Comic Sans MS";
}
input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #45a049;
}
