.menu {
    list-style: none;

}
.menu li {
    float: right;
    margin-right: 3px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 18px;
}
.menu li a {
    display: block;
    padding: 15px 20px;
    background: #fff90c;
    color: #3f3f3f;
    text-decoration: none;
    position: relative;
}
.menu li a:hover {
    background: #fffc83;
    color: #6b6b6b;
}
#main {
    text-align: center;
    font-size: 6.5em;
    color: dodgerblue;
    letter-spacing: -7px;
    font-weight: 700;
    text-transform: uppercase;
    text-shadow: 0px 0px 5px #fff, 0px 0px 7px #fff;
    margin: 7px 0 0px -40px;

}
#mpicture{
    float: right;
    width: 500px;
    height:350px;
    position: static;
}
#subtitle {
    text-align: right;
    font-family: "Comic Sans MS";
}
#tree {
    background:url(../img/tree.png);
    background-size: 700px 650px;
    background-repeat: no-repeat;

}
#pro-nas {
    color: #434eff;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    font-family: "Comic Sans MS";
    font-size: 60px;
    text-align: center;
    margin: 1%
}
#about-us {
    margin-top: 320px;
    border: 10px solid #b1ff5b;
    border-radius: 5px;
    padding: 15px;
    background: #ffeb91;
    background-size: 300px;
}
#pro-nas-text {
    font-family: "Comic Sans MS";
    font-size: 25px;
    text-align: center;
}
#pro-nas-subtitle {
    color: #ff51bd;
    font-family: "Comic Sans MS";
    font-size: 35px;
    text-align: center;
}
#our-service {
    margin-top: 30px;
    border: 10px solid #b1ff5b;
    border-radius: 5px;
    padding: 15px;
}
ul {
    list-style-image: url(../img/clip.png);
}
#deti-1 {
  margin-left: 14%;
}
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 420px;
}
div.gallery:hover {
    border: 1px solid #777;
}
div.gallery img {
    width: 100%;
    height: auto;
}
div.desc {
    padding: 15px;
    text-align: center;
}
#contacts {
    margin-top: 30px;
    border: 10px solid #3fb8ff;
    border-radius: 5px;
    padding: 15px;
    background-color: #d3f5ff;
}
#hcont {
    color: #3fb8ff;
    font-family: "Comic Sans MS";
    font-size: 35px;
    text-align: center;
}
#cont-text {
    color: #ff32ab;
    font-family: "Comic Sans MS";
    font-size: 25px;
    text-align: center;
}
#news-h-font{
    color: #e33eff;
    font-family: "Comic Sans MS";
    font-size: 45px;
    text-align: center;
}
.flex-container{
    display: flex;
    max-width: 1300px;
    max-height: 5000px;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 10px auto;
    flex-wrap: wrap;
    align-content: space-around;
    text-align: center;
}
.item {
    padding: 5px 10px;
    border:5px solid #fdff33;
    background: #fffacd;
    border-radius: 3px;
    margin: 20px;
    width: 350px;
    height: 350px;
}
.image img{
    width: 300px;
    height: 200px;
}
h3{
    color: #213aff;
    font-family:"Comic Sans MS";
    font-size: 23px;
    text-align: center;
}


